%html
  %head
    %title= page_title
    %script{:src => 'js/asciidoc.js'}
    %script{:src => 'js/adocsite.js'}
    %link{:rel => 'stylesheet', :media => "screen", :href => 'css/adocsite.css'}
  %body
    #page
      #header
        This is 'compact' layout. Looks the same as default, it's here only to show that you can have different ones.
      #content
        = get_content_for_layout()
      #footer
        = get_include('footer')
