%table.table
  %thead
    %th
      = category.name
  %tbody
    - category.articles.each do |article|
      %tr
        %td
          %a{:href => sitenav('article', article.name)}
            = article.title
      
